body {
    width: 100%;
    height: 100%;
    background-image: url("../Photo/aboutus.jpg");
    background-size: cover;
  }
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .Home{
    margin-top: 1.5%;
    margin-left: 3%;
    font-size: 1px;
  }
  .Home a :hover{
    scale: 1.1;
  }