::-webkit-scrollbar {
  display: none;
} 
body{
  width: 100%;
  height: 100%;
}
.BG{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Photo/firstbg.jpg");
  background-size: cover;
  display: flex;
}
.content{
  position: relative;
  margin: auto;
  margin-top:3%;
   /* border: solid 1px rgb(0, 0, 0); */
}
.LogoBtn{
  position: relative;
  margin-left: 40%;
  width:50%;
  height: 50%;
  /* border: solid 1px white; */
   /* border: solid 1px white; */
}
.LogoBtn{
  position: relative;
  width:70%;
  height: 70%;
}
.LogoBtn:hover{
  transform: scale(1.1);
}
.intorduce{
  position: relative;
  font-size:36px;
  color: white;
  /* border: solid 1px white; */
  text-align: center;
}