::-webkit-scrollbar {
    display: none;
} 
body{
    width: 100%;
    height: 100%;
}
.BG{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../Photo/IMG_2104.JPG");
    background-size: cover;
    display: flex;
}
.content{
    position: relative;
    margin: auto;
    /* border: solid 1px white;  */
}
.LogoBtn{
    position: relative;
    width:50%;
    height: 50%;
}
.LogoBtn:hover{
    transform: scale(1.1);
}
.intorduce{
    position: relative;
    font-size:36px;
    color: white;
    /* border: solid 1px white; */
    text-align: center;
}
/* 40px */
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}