::-webkit-scrollbar {
    display: none;
} 
body{
    width: 100%;
    height: 100%;
    background-size: cover;
}
BG{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.content{
    position: relative;
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    /* border: solid 5px black; */
}
.connn{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    /* border: solid 3px rgb(58, 216, 66); */
}
.MapEatBtn{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* border: solid 3px rgb(196, 52, 52); */
}
.MapFunBtn{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* border: solid 1px black; */
}
.buttoncontent{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    /* border: solid 5px black; */
    text-align: center
}
.button1{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: solid 1px rgb(65, 56, 201); */
}
.button2{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: solid 1px rgb(190, 26, 26); */
}
input {
    border: 0;
    background-color: #fff;;
    color: #003c9d;
    border-radius: 50px;
    cursor: pointer;
  }
  input:hover {
    color: #fff;
    background-color: #e967bd;
    border: 2px #fff solid;
  }