@font-face {
  font-family: "dick";
  src: url("../Font/王漢宗特黑體繁.ttf") format("opentype");
}
@font-face {
  font-family: "dick1";
  src: url("../Font/明體.ttf") format("opentype");
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Photo/map.jpg");
  background-size: cover;
  display: flex;
}
.logo {
  position: relative;
  width: 600px;
  height: 600px;
  margin-left: 10%;
  margin-top: 3%;
  /* background-image: url("../Photo/slogo.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  /* border: solid 1px rgb(0, 0, 0); */
}
#btn1 {
  position: relative;
  margin-top: 18px;
  margin-left: 16px;
  background-color: transparent;
  font-family: "dick1";
  color: black;
  border: none;
  font-size:45px;
}
#btn1:hover::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
}
#btn1:hover{
  color: #afa790;
}


.BtnBox {
  margin-left: 20px;
  width: 300px;
  height: 110px;
  margin-top: 120px;
  /* border: solid 1px rgb(0, 0, 0);  */
}
.BtnBox::before {
  content: "";
  position: absolute;
  width: 3px;
  background-color: rgb(150, 150, 150);
  top: 400px;
  bottom: -50%;
  margin-left: -17px;
}



.btn::before {
  content: " ";
  height: 0;
  position: absolute;
  width: 30px;
  z-index: 1;
  margin-left: -42px;
  margin-top: 30px;
  border: solid rgb(150, 150, 150) 0.1px;
  border-color: rgb(150, 150, 150);
}
.map{
  position: relative;
  width: 900px;
  height: 600px;
  border: solid 1px rgb(0, 0, 0);
  background-image: url("../Photo/street.png");
  background-size: contain;
  margin-top: 5%;
  margin-right: 2%;
}
.Pbtn{
  width: 100px;
  height: 100px;
  margin: auto;
}