@font-face {
  font-family: "dick";
  src: url("../Font/王漢宗特黑體繁.ttf") format("opentype");
}
@font-face {
  font-family: "dick1";
  src: url("../Font/明體.ttf") format("opentype");
}
body::-webkit-scrollbar {
  display: none;
}
.bg {
  position: absolute;
  width: 100%;
  height: 120%;
  background-image: url("../Photo/map.jpg");
  background-size: cover;
  display: flex;
}
.logo {
  position: relative;
  width: 600px;
  height: 600px;
  margin-left: 10%;
  margin-top: 5%;
  /* background-image: url("../Photo/slogo.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  /* border: solid 1px rgb(0, 0, 0); */
}

#btn1 {
  position: relative;
  margin-top: 0px;
  margin-left: 16px;
  background-color: transparent;
  font-family: "dick1";
  color: black;
  border: none;
  font-size:38px;
}
#btn1:hover::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
}
#btn1:hover{
  color: #afa790;
}
#btn2 {
  position: relative;
  margin-top: 28px;
  margin-left: 16px;
  background-color: transparent;
  font-family: "dick1";
  color: black;
  border: none;
  font-size:38px;
}
#btn2:hover::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
}
#btn2:hover{
  color: #afa790;
}
#btn3 {
  position: relative;
  margin-top: 28px;
  margin-left: 16px;
  background-color: transparent;
  font-family: "dick1";
  color: black;
  border: none;
  font-size:38px;
}
#btn3:hover::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
}
#btn3:hover{
  color: #afa790;
}
#btn4 {
  position: relative;
  margin-top: 28px;
  margin-left: 16px;
  background-color: transparent;
  font-family: "dick1";
  color: black;
  border: none;
  font-size:38px;
}
#btn4:hover::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
}
#btn4:hover{
  color: #afa790;
}
#btn5 {
  position: relative;
  margin-top: 28px;
  margin-left: 16px;
  background-color: transparent;
  font-family: "dick1";
  color: black;
  border: none;
  font-size:38px;
}
#btn5:hover::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
}
#btn5:hover{
  color: #afa790;
}

.BtnBox {
  margin-left: 20px;
  width: 300px;
  height: 110px;
  margin-top: 80px;
  /* border: solid 1px rgb(0, 0, 0);  */
}
.BtnBox::before {
  content: "";
  position: absolute;
  width: 3px;
  background-color: rgb(150, 150, 150);
  top: 210px;
  bottom: -40%;
  margin-left: -17px;
}



.btn::before {
  content: " ";
  height: 0;
  position: absolute;
  width: 30px;
  z-index: 1;
  margin-left: -42px;
  margin-top: 30px;
  border: solid rgb(150, 150, 150) 0.1px;
  border-color: rgb(150, 150, 150);
}
.map{
  position: relative;
  width: 1400px;
  height: 1200px;
  /* border: solid 1px rgb(0, 0, 0); */
  background-image: url("../Photo/street.png");
  background-size: cover;
  margin-top: -6.5%;
  margin-right: 2%;
  background-position: center center
}
.Pbtn1{
  width: 180px;
  height: 180px;
  margin-left: 60%;
  margin-top: 64%;
}

.Pbtn2{
  width: 130px;
  height: 130px;
  margin-top: -8%;
  margin-left: 32.5%;
}
.Pbtn2:hover{
  scale: 1.1;
}
.Pbtn3{
  width: 160px;
  height: 160px;
  margin-top: -33%;
  margin-left: 46.5%;
}
.Pbtn3:hover{
  scale: 1.1;
}
.Pbtn4{
  
  width: 120px;
  height: 120px;
  margin-left: 52%;
  margin-top: 11%;
}
.Pbtn4:hover{
  scale: 1.1;
}
.Pbtn5{
  
  width: 130px;
  height: 130px;
  margin-left: 18%;
  margin-top: -13%;
}
.Pbtn5:hover{
  scale: 1.1;
}