.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  border: solid 10px rgb(0, 0, 0);
}
.content {
  width: 60%;
  height: 80%;
  margin: auto;
  text-align: center;
  border: solid 3px rgb(189, 49, 49);
}
.button {
  position: relative;
  padding-top: 40%;
  text-align: right;
  border: solid 5px rgb(79, 31, 192);
}
input {
  border: 0;
  background-color: #fff;
  color: #003c9d;
  border-radius: 50px;
  cursor: pointer;
}
input:hover {
  color: #fff;
  background-color: #003c9d;
  border: 2px #003c9d solid;
}
